<!doctype html>

<html lang="en">

                        <canvas id="chart" width="400" height="100"></canvas>
    <canvas id="chart1" width="400" height="100"></canvas>

    <script type="text/javascript" src="../static/js/smoothie.js"></script>

    <script type="text/javascript">
      var random = new TimeSeries();
      setInterval(function() {
        random.append(new Date().getTime(), Math.random() * 10000);
      }, 500);
       var chart = new SmoothieChart();
        chart.addTimeSeries(random, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart.streamTo(document.getElementById("chart"), 500); 

               var chart1 = new SmoothieChart();
        chart1.addTimeSeries(random, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart1.streamTo(document.getElementById("chart1"), 500); 

    </script>

</html>
